@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
  font-family: Raleway;
  color: black;
  margin: 0px;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

#navbar {
  position: fixed;
  top: 0x;
  width: 100%;
  padding: 5px;
  background-color: rgba(235, 87, 8, 0.918);
  font-size: 25px;
}

.navlink {
  color: black;
}

.navlink:hover {
  color: white;
}

#intro {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  background-color: #47ff5c9d;
  padding: 30px;
  text-align: center;
}

#project-text {
   margin: 0px;
   text-align: center;
   padding: 4px;
   background-color: #d8299ec0;;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #47ff5c9d;
}

.card {
  background-color: #d8299ec0;;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  flex: 1 1 200px;
  max-width: 250px;
  border-style: solid;
  border-width: 1px;
  border-color: #47ff5c9d;
  border-radius: 10px;
}


#img-1, #img-2, #img-3, #img-4 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  margin-top: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: white;
  top: 50px;
  right: 50px;
}

#img-1:hover {
  opacity: 0.5;
}
  
  #img-2:hover {
    opacity: 0.5;
  }

   #img-3:hover {
      opacity: 0.5;
   }

    #img-4:hover {
        opacity: 0.5;
    }

.card-title {
  text-align: center;
  font-size: 20px;
  color: black;
}

.card-description {
  text-align: center;
}

button {
  background-color: #47ff5c9d;
  border-radius: 10px;
  border-style: solid;
  border-color: white;
  color: white;
  margin-left: 40%;
}

button:hover {
  background-color: #d8299ec0;;
}

#find_me {
  display: flex;
  height: 150px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(235, 87, 8, 0.918);
  padding: 0px;
  text-align: center;
}

#github-img {
  height: 50px;
}

